#nerd-gallery {
    width: 660px;
}

.nerdpic {
    float: left;
    padding-top:   4px;
    padding-left:  4px;
    padding-right: 4px;
    border: solid thin black;
    margin:   3.5px;
    height: 255px;
    width:  203px;
    background-color: #d7d7d7;
}

.nerdpic img.photo {
    margin-left:   auto;
    margin-right:  auto;
    margin-top:    0;
    margin-bottom: 3.6px;
    padding: 0;
    width: 200px;
    height: 200px;
    display: block;
}

div.nerd-caption {
    text-align:center;
    padding-left:1px;
}